
   <%-include('header')-%> 
    <div class="box">
        <h1 id="heading"><%= listTitle %></h1>
    </div>

    <div class="box scroll">
        
            <% for (let index = 0; index < listEjsVar.length; index++) {%>
                
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" id="myCheckbox"  name="checkbox" onchange="this.form.submit()" value=<%= listEjsVar[index]._id %> >
                        <p> <%= listEjsVar[index].name %> </p>
                        
                        <!-- <button onclick="this.form.submit()" name="list" value=<%= listEjsVar[index]._id %> > <i class="bi bi-trash"></i> </button> -->
                    </div>
                </form>
                
            <% } %>
            
            <!--  -->
            
    </div>
    <div class="box">
        <form class="item" action="/" method="post">
            <input placeholder="Enter New Item" autofocus type="text" id="usernameInp" name="newItem" autocomplete="off">
            <button class="submitBtn" type="submit" name="list" value=<%= listTitle %> > + </button>
        </form>
    </div>
    
    <%-include('footer')-%> 